[submodule "home/.vim/bundle/cvim-pathogen"]
	path = home/.vim/bundle/cvim-pathogen
	url = git://github.com/HenningM/cvim-pathogen.git
[submodule "home/.vim/bundle/minibufexpl.vim"]
	path = home/.vim/bundle/minibufexpl.vim
	url = git://github.com/fholgado/minibufexpl.vim.git
